.header {
  position: relative;
  width: 100%;
  padding: 2rem var(--spacing-8);
}

/* -------------------------------------------------------------------------- */
/* Container */
/* -------------------------------------------------------------------------- */

.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  max-width: 1120px;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */
/* Brand */
/* -------------------------------------------------------------------------- */

.header__brand {
  justify-self: start;
}

/* -------------------------------------------------------------------------- */
/* Navigation */
/* -------------------------------------------------------------------------- */

.navbar {
  justify-self: center;
}

/* -------------------------------------------------------------------------- */
/* Actions */
/* -------------------------------------------------------------------------- */

.header__actions {
  display: flex;
  align-items: center;
  justify-self: end;
}